body {
    background-color: silver;
}

#canvas {
    cursor: url('Images/rotate.png');
}

/* Box styles */
#myBox {
    border: none;
    /*position: relative; /* serve??? */
    width: 100%;
    overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

img {
    position: relative;
    width: 30px;
    top: 20%;
}

#rect_img {
    position: relative;
    top: 35%;
}

#line_img {
    position: relative;
    /*width: 50px;*/
    top: 50%;
}

#parallelogram_img {
    position: relative;
    width: 50px;
    top: 3%;
}

#ellipse_img {
    position: relative;
    width: 40px;
    top: 25%;
}

.funct{
    position: relative;
    width: 25px;
    top: 20%;
}

#label_grid {
    position: absolute;
    top: -40%;
    left: 35%;
    font-family: "Times New Roman", Times, serif;
}

#label_shapes {
    position: relative;
    top: -15%;
    font-family: "Times New Roman", Times, serif;
}

#dim {
    position: relative;
    min-width: 5%;
    max-width: 40%;
    left: -10%;
}

#flag {
    position: relative;
    left: -15%;
}

#reset {
    width: 30px;
}

#selection {
    width: 30px;
}

/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 0%;
    position: relative;
    width: 11.1%;
    /*height: auto;*/
}

/*Style for each element of menu*/
li a {
    display:block;
    width: 99%;
    height: 40px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2175bc;
    text-decoration: none;
}

/*Hover state*/
li:hover a {
    background: #19c589;
}

/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
    display: none;
    position: absolute;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}