body {
    background-color: silver;
}

#canvas {
    /*border: 3px solid black;*/
    cursor: url('Images/rotate.png');
}

/* Box styles */
#myBox {
    border: none;
    font: 24px/36px sans-serif;
    position: absolute;
    width: /*1130px*/99%;
    height: /*520px*/83%;
    top: 8%;
    overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

#menu_horizontal {
    border: 1px solid black;
    border-bottom-width: 0;
    position: absolute;
    /*width: /*1124px*//*90%;*/
    height: /*54px*/10%;
    text-decoration: none;
    color: white;
    background-color: #2175bc;
    border-bottom: 1px solid #90bade;
    border-left: 7px solid #1958b7;
}

/*#grid_style {
    width: 10%;
    position: absolute;
    left: 1%;
    top: 40%
}

#dim {
    width: 30%;
    position: absolute;
    left: 55%;
}

#coordinates {
    width: 10%;
    position: absolute;
    left: 13%;
    top: 43%;
}*/

/*#reset_img {
    width: 40px;
}

#undo_img {
    width: 2%;
    position: absolute;
    left: 25%;
    top: 40%;
}

#redo_img {
    width: 2%;
    position: absolute;
    left: 27%;
    top: 40%;
}

#selection_img {
    width: 3%;
    position: absolute;
    left: 35%;
    top: 30%;
}

#text_img {
    width: 50px;
}

#text {
    width: 15%;
    position: absolute;
    left: 43%;
    top: 42%;
}

#upload_img {
    width: 2%;
    position: absolute;
    left: 60%;
    top: 40%;
}

#download_img {
    width: 2%;
    position: absolute;
    left: 63%;
    top: 40%;
}

#input_file {
    width: 15%;
    position: absolute;
    left: 66%;
    top: 42%;
}*/

/* Vertical Menu Style*/
#menu_vertical {
    border: 1px solid black;
    border-bottom-width: 0;
    position: absolute;
    /*top: 8px;
    left: 1140px;*/
    left: 89%;
    top: 1%;
    width: 10%;
    height: 98%;
}

#menu_vertical div.div_style {
    display: block;
    padding: 3px 0;
    padding-left: 9px;
    width: 88%;
    height: 18%;
    /*height: 104px;*/
    text-decoration: none;
    color: white;
    background-color: #2175bc;
    border-bottom: 1px solid #90bade;
    border-left: 7px solid #1958b7;
}

#menu_vertical div.line_style {
    display: block;
    padding: 3px 0;
    padding-left: 9px;
    width: 88%;
    height: 9%;
    /*height: 50px;*/
    text-decoration: none;
    color: white;
    background-color: #2175bc;
    border-bottom: 1px solid #90bade;
    border-left: 7px solid #1958b7;
}

#menu_vertical div:hover {
    background-color: #2586d7;
    border-left-color: #1c64d1;
}

#menu_vertical div.menutitle {
    text-align: center;
    color: white;
    border-bottom: 1px solid black;
    padding: 1px 0;
    padding-left: 5px;
    background-color: black;
    font: bold 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
}

#rect_img {
    width: 30%;
    position: relative;
}

#line_img {
    width: 30%;
    position: relative;
    top: 50%;
}

#arrow_img {
    width: 80%;
    height: 7%;
    position: absolute;
    left: 10%;
    top: 34%;
}

#rhombus_img {
    width: 70%;
    position: absolute;
    left: 15%;
    top: 45%;
}

#parallelogram_img {
    width: 90%;
    position: absolute;
    left: 5%;
    top: 62%;
}

#ellipse_img {
    width: 80%;
    position: absolute;
    left: 13%;
    top: 85%;
}