img {
    position: relative;
    width: 30px;
    top: 20%;
}

#container{
    position: absolute;
    width: 99%;
    top: 0%;
}

#container2{
    position: absolute;
    width: 99%;
    bottom: -1.5%;
}

/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 0%;
    position: relative;
    width: 16.66%;
    height: auto;
}

#container2 li {
    display:inline-block;
    float: left;
    margin-right: 0%;
    position: relative;
    width: 12.5%;
    height: auto;
}

/*Style for menu links*/
li a {
    display:block;
    width: 99%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2175bc;
    text-decoration: none;
}

li a.grid_style {
    height: auto;
}

/*Hover state for top level links*/
li:hover a {
    background: #19c589;
}

/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 80px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}